.navbar {
  padding: 20px 0;
}

a .navbar-brand {
  position: relative;
}

.logo-header {
  width: 200px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10.2%;
  -ms-transform: translate(-10.2%,-50%);
  transform: translate(-10.2%, -50%);
}

.task {
  background: #e8eaec;
  color: gray;
  padding: 0 22px;
  display: inline-block;
  margin: 8px 0 13px 0;
  border-radius: 3px;
  
}

/* .offset-1 {
  
} */

h3 {
  color: gray;
  font-size: 16px;
}

.jumbotron {
  background: none;
  border: 2px solid #d5d8dd;
}

.soluong {
  border: 1px solid gray;
  padding: 0px 6px;
  border-radius: 5px;
}

.total {
  text-align: right;
  color: gray;
}

.duoisub {
  text-align: right;
  padding-top: 10px;
}

.guarantee-badge {
  position: relative;
}

.badge-text {
  position: absolute;
  top: 66%;
  left: 17%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.need-help {
  color: #0a9859;
  font-weight: 600;
  width: 70%;
}

.discuss {
  color: #0a9859;
  float: right;
  width: 30%;
  font-size: 14px;
  padding: 13px 12px;
}

h4 {
  color: #009452;
  font-size: 16px;
  text-indent: 40px;
  padding-bottom: 10px;
}

ul li {
  list-style-type: none;
  height: 40px;
}

a {
  color: #505b70;
  display: block;
  height: 40px;
}

a:hover {
  text-decoration: none;
  color: #009452;
}

.jumbotron-fluid {
  border: 1px solid #dbdbdb;
  border-left: none;
  border-right: none;
  padding: 50px 100px;
}

.logo-footer {
  width: 200px;
  margin-bottom: 30px;
}

div .d-sm-inline ul li {
  float: left;
}

.chu-footer {
  color: #bebebe;
}

.icon {
  text-indent: 3px;
  color:#4E586C;
  font-size: 14px;
}